.lian{
	width: 90%;
	margin: 0 auto;
	background: white;
	margin-bottom: 20px;
}
.lian .title{
	margin-left: 30%;
	margin-bottom: 5px;
}
.lian .title >*{
	width: 25%;
	border:0;
	line-height: 20px;
	height: 20px;
	line-height: 40px;
}
.lian h2{
	margin: 0 auto;
	text-align: center;
	font-size: 18px;
	line-height: 40px
}
.lian .title> input{
	outline: 0;
	bottom: 0;
	border-bottom:1px solid #aaaaaa
}
.lian table{
	border-collapse:collapse;
}
.lian table td{
	border:1px solid #aaaaaa;
	height: 40px;
	text-align: center
}
.lian table input{
	width: 20%;
}

.lian .ant-input{
	width: 100%;
}

/*{!data ? '加载中' :*/