.xianchangbilu{
	width: 90%;
	margin: 0 auto;
	background: white;
	margin-bottom: 20px;
}

.xianchangbilu table{
	border-collapse:collapse;
}
.xianchangbilu table td{
	border:1px solid #aaaaaa;
	height: 35px;
	text-align: center;
	box-sizing:border-box;
}
.xianchangbilu input{
	width: 100%;
	height: 35px;
}

/*<input type="text" style={{'border':'0','outline':'0'}}  readOnly={this.state.readOnly} className={classnames({'times':true,'ss':class10})}/>*/

/*<label >男 </label><input type="radio" style={{'width':'14px','height':'25px','verticalAlign':'middle','display':'inline-block'}} name='sex' value='男'/>
							<label style={{'marginLeft':'25%'}}>女 </label><input type="radio" style={{'width':'14px','height':'25px','verticalAlign':'middle','display':'inline-block'}} name='sex' value='女'/>*/


.xianchangbilu .maincontent{
	background-image: url('../images/1.jpg');
	background-repeat: repeat;
}

/*<input type="text" style={{'border':'0','outline':'0'}} readOnly={this.state.readOnly} className={classnames({'pliceman1':true,'ss':class11})} onChange={this.onChangetime.bind(this)}/>*/
/*.xianchangbilu .ant-select-selection-selected-value{
	text-align: center;
}
.xianchangbilu .ant-select-selection__rendered{
	text-align: center;
}*/

/*<input type="text" style={{'border':'0','outline':'0'}} readOnly={this.state.readOnly} className={classnames({'pliceID1':true,'ss':class13})}/>*/
.ant-calendar-picker-input .ant-input{
	border:0;
	outline: 0;
}