.list{
	width: 100%;
	margin: 0 auto;
}
.list h1{
	margin: 0 auto;
	margin-top: 100px;
	}
.list div .button{
	display: block;
	line-height: 50px;
	margin: 0 auto;
	width: 60%;
	text-decoration: none;
	margin-top: 30px;
	border:1px solid #aaaaaa;
}