.App {
  width: 100%;
  bottom: 0;
  margin: 0;
  background-color: white;
}
.clearfix:before,.clearfix:after {content: " ";
                                 display: block; 
                                  clear: both;    
                                   visibility: hidden;
                                    line-height: 0; 
                                       height: 0;
                                      font-size:0; }


input{
  text-align: center;
}
textarea{
  text-indent: 40px;
  line-height: 30px;
}
*{
	font-size: 14px;
}
h1{
   line-height: 80px;
	font-size: 18px;
	text-align: center;
  margin: 0;
  margin-bottom: 20px;
}


